<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="header-title">
                <h6>Archived Clients</h6>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 pr-5">
            <div class="d-flex justify-content-end preference-header-right">
                <div class="d-flex l-search">
                    <input (keyup.enter)="searchArchived()" class='l-searchbox' [(ngModel)]="searchText" placeholder="Search Archived Client" type="text">
                    <i class="material-icons search-ico cursor-click" (click)="searchArchived()">
                        search
                    </i>
                    <i class="material-icons clear-ico cursor-click" (click)="clear()">
                        close
                    </i>
                </div>
                <i class="material-icons filter-ico position-relative cursor-click">
                    filter_list
                </i>
                <button style="border: none;background: transparent;" class="material-icons prin-ico position-relative cursor-click" [elementToPrint]="TABLE" ngPrint>
                    local_printshop
                </button>
                <!-- <i class="material-icons prin-ico position-relative cursor-click"  (click)="ExportToExcelsArchieved()">
                    local_printshop
                </i> -->
            </div>
        </div>

        <div class="col-md-12 mt-3"  #TABLE #table>
            <div class="table-responsive archive-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                Company<span class="mfilter-ico ml-2"><img src="assets/images/main-filter.svg" (click)= "filter('company')"></span>
                            </th>
                            <th scope="col">Package
                                <span class="nfilter-ico ml-2"><img src="assets/images/filter.svg" (click)= "filter('package')"></span>
                            </th>
                            <th scope="col">Contact Name
                                <span class="nfilter-ico ml-2"><img src="assets/images/filter.svg" (click)= "filter('name')"></span>
                            </th>
                            <th scope="col">User
                                <span class="nfilter-ico ml-2"><img src="assets/images/filter.svg" (click)= "filter('user')"></span>
                            </th>
                            <th scope="col">Phone
                                <span class="nfilter-ico ml-2"><img src="assets/images/filter.svg" (click)= "filter('phone')"></span>
                            </th>
                            <th scope="col">Email Address
                                <span class="nfilter-ico ml-2"><img src="assets/images/filter.svg" (click)= "filter('email')"></span>
                            </th>
                            <th scope="col">Expiry Date
                                <span class="nfilter-ico ml-2"><img src="assets/images/filter.svg" (click)= "filter('expiry')"></span>
                            </th>
                            <th scope="col">Status
                                <span class="nfilter-ico ml-2"><img src="assets/images/filter.svg" (click)= "filter('status')"></span>
                            </th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let archiveClient of archivedClient | paginate: config">
                            <td (click)="singleArchive(archiveClient.id)" class="cursor-click">
                                {{archiveClient?.name}}</td>
                            <td>{{archiveClient?.subscriptions[0]?.name}}</td>
                            <td>{{archiveClient?.contactName}}</td>
                            <td>{{archiveClient?.orgSuperUser?.emailAddress}}</td>
                            <td>{{archiveClient?.contactPhone | phoneFormat}}</td>
                            <td>{{archiveClient?.contactEmail}}</td>
                            <td>{{archiveClient?.endDate | date: 'MMM d, y'}}</td>
                            <td>{{statusName}}</td>
                            <td>

                                <span class="refresh-ico ml-2">
                                    <img style="cursor: pointer" (click)="restoreArchive(archiveClient.id)"
                                        src="assets/images/restore-ico.svg">
                                </span>

                                <span class="del-ico ml-2 cursor-click">
                                    <img   *ngIf="!checkPermission" (click)="deleteSingleClient(archiveClient.id)"
                                        src="assets/images/delete.svg"
                                       >

                                    <img   *ngIf="checkPermission" (click)="deleteSingleClient(archiveClient.id)"
                                        src="assets/images/delete.svg" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                </span>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" [ngClass]="{hide:pageControl}">
        <div class="col-md-12 d-flex justify-content-end mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination p-0 float-right">
                    <pagination-controls class="my-pagination" [maxSize]="config.totalItems" [directionLinks]="true" [autoHide]="false" [responsive]="true" [previousLabel]="Previous" [nextLabel]="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page" (pageChange)="pageChange($event)">
                    </pagination-controls>
                    <select (change)="pageSize($event.target.value)">
                        <option value="5">5/Page</option>
                        <option value="10">10/Page</option>
                        <option value="20">20/Page</option>
                        <option value="50">50/Page</option>
                    </select>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!--Delete Modal-->

<jw-modal id="archiveClient">
    <div class="del-modal">

        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/modal-close.svg"
                                    class="modal-close-ico"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center del-content">
                                <div>
                                    <p class="del-header">You're currently going to delete.</p>
                                    <p class="mt-3 text-center">Are you sure you want to proceed?</p>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center mt-2">
                                <button type="button" data-dismiss="modal" class="btn  l-btn-cancel mr-2">
                                    No
                                </button>

                                <button (click)="deleteUser($event)" type="button" class="btn  l-btn">
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</jw-modal>