@import "assets/styles/styles.scss";

table
{
    min-width: 1130px;
}

.tab-bg
{
    background: #0B20441A 0% 0% no-repeat padding-box;
}

.custom-control-input:checked ~ .custom-control-label::before
{
    background: #F8B500;
    border-color: #F8B500;
}
.role-table
{
    background: $BgWhite;
    border-radius: $tableBorder;
}
.custom-control
{
    text-align: center;
}


.btn-save
{
    background: $archivebtn;
    border-radius: 21px;
    opacity: 1;
    display: flex;
    font-size: 14px;
    width: 110px;
    height: auto;
    justify-content: center;
    .save-ico
    {
        font-size: 21px;
    }
}


.btn-cancel
{
    background: $BgWhite;
    border-radius: 21px;
    border-color: #6C757D;
    opacity: 1;
    display: flex;
    font-size: 14px;
    width: 125px;
    height: auto;
    justify-content: center;
    color: #6C757D;
    .cancel-ico
    {
        font-size: 21px;
        color: #6C757D;
    }
}