<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="header-title">
                <h6>Role Privileges</h6>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div class="role-table table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" colspan="6"></th>
                            <th class="text-center" *ngFor="let singleRole of allAvailableRoles" scope="col">{{singleRole.Name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let category of allCategories">
                            <tr>
                                <th class="tab-bg" colspan="12">{{category}}</th>
                            </tr>
                            <tr *ngFor="let aPerm of getPermissionsInCategory(category);">
                                <th scope="row" class="font-weight-normal" colspan="6">{{aPerm.Name}}</th>
                                <td *ngFor="let sRole of allAvailableRoles">
                                    <form>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheckone_{{sRole.Id}}_{{aPerm.Id}}" name="example1"  (click)="addRemovePermission(sRole, aPerm,$event)"
                                              [checked]="shouldCheckThisItem(sRole, aPerm)" [attr.disabled] = "(((category == 'Brew Run') ||(category == 'Recipes')) && sRole.Id == '81db4ad1-863b-4310-a0be-04042d2b30e0') ? 'disabled' : null">

                                            <label class="custom-control-label" for="customCheckone_{{sRole.Id}}_{{aPerm.Id}}"></label>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="col-md-12 d-flex justify-content-end mt-4 pb-4">
                    <div class="mr-2">

                        <button (click)="cancelRolePriviledge()" type="button" class="btn btn-outline-light btn-cancel">
                                            <i class="material-icons cancel-ico">
                                                cancel
                                            </i>
                                            Cancel
                                    </button>

                    </div>


                    <div>
                        <!-- this.editRolePermissionStatus -->
                        <!-- <button (click)="saveRolePriviledge()" [disabled]="!editRolePermissionStatus" [class.disabled]="!editRolePermissionStatus" type="button" class="btn btn-outline-light btn-save">
                                            <i class="material-icons save-ico">
                                                save
                                            </i>
                                            Save
                                        </button> -->
                                        <button data-toggle="modal" data-target="#exampleModalCenter"  [disabled]="!editRolePermissionStatus" [class.disabled]="!editRolePermissionStatus" type="button" class="btn btn-outline-light btn-save">
                                            <i class="material-icons save-ico">
                                                save
                                            </i>
                                            Save
                                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-12 mt-3">
            <div class="role-table table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="text-center" *ngFor="let singleRole of rolePrevilegeContent" scope="col">{{singleRole.roleHeading}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="tab-bg" colspan="6">User Management</th>
                        </tr>
                        <tr>
                            <th scope="row" class="font-weight-normal">Add New User</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckone" name="example1">
                                        <label class="custom-control-label" for="customCheckone"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChecktwo" name="example1">
                                        <label class="custom-control-label" for="customChecktwo"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckthree" name="example1">
                                        <label class="custom-control-label" for="customCheckthree"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckfour" name="example1">
                                        <label class="custom-control-label" for="customCheckfour"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckfive" name="example1">
                                        <label class="custom-control-label" for="customCheckfive"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="font-weight-normal">Delete User</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChecksix" name="example1">
                                        <label class="custom-control-label" for="customChecksix"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckseven" name="example1">
                                        <label class="custom-control-label" for="customCheckseven"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckeigh" name="example1">
                                        <label class="custom-control-label" for="customCheckeigh"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChecknine" name="example1">
                                        <label class="custom-control-label" for="customChecknine"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckten" name="example1">
                                        <label class="custom-control-label" for="customCheckten"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="font-weight-normal">Reinstate User</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckelevn" name="example1">
                                        <label class="custom-control-label" for="customCheckelevn"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChecktwel" name="example1">
                                        <label class="custom-control-label" for="customChecktwel"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckthir" name="example1">
                                        <label class="custom-control-label" for="customCheckthir"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckfor" name="example1">
                                        <label class="custom-control-label" for="customCheckfor"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckfiftn" name="example1">
                                        <label class="custom-control-label" for="customCheckfif'"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Change User Privilege</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChecksixt" name="example1">
                                        <label class="custom-control-label" for="customChecksixt"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChecksevnt" name="example1">
                                        <label class="custom-control-label" for="customChecksevnt"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckeight" name="example1">
                                        <label class="custom-control-label" for="customCheckeight"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckninet" name="example1">
                                        <label class="custom-control-label" for="customChecknint"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChecktwen" name="example1">
                                        <label class="custom-control-label" for="customChecktwen"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>


                        <tr>
                            <th scope="row" colspan="6" class="tab-bg">Organization</th>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Delete Organization</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck21" name="example1">
                                        <label class="custom-control-label" for="customCheck21"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck22" name="example1">
                                        <label class="custom-control-label" for="customCheck22"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck23" name="example1">
                                        <label class="custom-control-label" for="customCheck23"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck24" name="example1">
                                        <label class="custom-control-label" for="customCheck24"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck25" name="example1">
                                        <label class="custom-control-label" for="customCheck25"></label>
                                    </div>
                                </form>
                            </td>

                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Reinstate Organization</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck26" name="example1">
                                        <label class="custom-control-label" for="customCheck26"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck27" name="example1">
                                        <label class="custom-control-label" for="customCheck27"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck28" name="example1">
                                        <label class="custom-control-label" for="customCheck28"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck29" name="example1">
                                        <label class="custom-control-label" for="customCheck29"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck30" name="example1">
                                        <label class="custom-control-label" for="customCheck30"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" colspan="6" class="tab-bg">Recipes</th>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Create New Recipe</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck31" name="example1">
                                        <label class="custom-control-label" for="customCheck31"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck32" name="example1">
                                        <label class="custom-control-label" for="customCheck32"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck33" name="example1">
                                        <label class="custom-control-label" for="customCheck33"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChec34k" name="example1">
                                        <label class="custom-control-label" for="customCheck34"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck35" name="example1">
                                        <label class="custom-control-label" for="customCheck35"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Commit Recipe</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck36" name="example1">
                                        <label class="custom-control-label" for="customCheck36"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck37" name="example1">
                                        <label class="custom-control-label" for="customCheck37"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck38" name="example1">
                                        <label class="custom-control-label" for="customCheck38"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck39" name="example1">
                                        <label class="custom-control-label" for="customCheck39"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck40" name="example1">
                                        <label class="custom-control-label" for="customCheck40"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Modify Recipe</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck41" name="example1">
                                        <label class="custom-control-label" for="customCheck41"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck42" name="example1">
                                        <label class="custom-control-label" for="customCheck42"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck43" name="example1">
                                        <label class="custom-control-label" for="customCheck43"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck44" name="example1">
                                        <label class="custom-control-label" for="customCheck44"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck45" name="example1">
                                        <label class="custom-control-label" for="customCheck45"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Archieve Recipe</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck46" name="example1">
                                        <label class="custom-control-label" for="customCheck46"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck47" name="example1">
                                        <label class="custom-control-label" for="customCheck47"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck48" name="example1">
                                        <label class="custom-control-label" for="customCheck48"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck49" name="example1">
                                        <label class="custom-control-label" for="customCheck49"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck50" name="example1">
                                        <label class="custom-control-label" for="customCheck50"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" colspan="6" class="tab-bg">Brew-Run</th>
                        </tr>


                        <tr>
                            <th scope="row" class="font-weight-normal">Start Brew-Run</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck31" name="example1">
                                        <label class="custom-control-label" for="customCheck31"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck32" name="example1">
                                        <label class="custom-control-label" for="customCheck32"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck33" name="example1">
                                        <label class="custom-control-label" for="customCheck33"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChec34k" name="example1">
                                        <label class="custom-control-label" for="customCheck34"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck35" name="example1">
                                        <label class="custom-control-label" for="customCheck35"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Edit Brew-Run</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck31" name="example1">
                                        <label class="custom-control-label" for="customCheck31"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck32" name="example1">
                                        <label class="custom-control-label" for="customCheck32"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck33" name="example1">
                                        <label class="custom-control-label" for="customCheck33"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChec34k" name="example1">
                                        <label class="custom-control-label" for="customCheck34"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck35" name="example1">
                                        <label class="custom-control-label" for="customCheck35"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Commit Brew-Run</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck31" name="example1">
                                        <label class="custom-control-label" for="customCheck31"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck32" name="example1">
                                        <label class="custom-control-label" for="customCheck32"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck33" name="example1">
                                        <label class="custom-control-label" for="customCheck33"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChec34k" name="example1">
                                        <label class="custom-control-label" for="customCheck34"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck35" name="example1">
                                        <label class="custom-control-label" for="customCheck35"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal"> Archieve Brew-Run</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck31" name="example1">
                                        <label class="custom-control-label" for="customCheck31"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck32" name="example1">
                                        <label class="custom-control-label" for="customCheck32"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck33" name="example1">
                                        <label class="custom-control-label" for="customCheck33"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChec34k" name="example1">
                                        <label class="custom-control-label" for="customCheck34"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck35" name="example1">
                                        <label class="custom-control-label" for="customCheck35"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal"> View Brew-Run</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck31" name="example1">
                                        <label class="custom-control-label" for="customCheck31"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck32" name="example1">
                                        <label class="custom-control-label" for="customCheck32"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck33" name="example1">
                                        <label class="custom-control-label" for="customCheck33"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChec34k" name="example1">
                                        <label class="custom-control-label" for="customCheck34"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck35" name="example1">
                                        <label class="custom-control-label" for="customCheck35"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Consolidate Brew-Run</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck31" name="example1">
                                        <label class="custom-control-label" for="customCheck31"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck32" name="example1">
                                        <label class="custom-control-label" for="customCheck32"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck33" name="example1">
                                        <label class="custom-control-label" for="customCheck33"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChec34k" name="example1">
                                        <label class="custom-control-label" for="customCheck34"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck35" name="example1">
                                        <label class="custom-control-label" for="customCheck35"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" colspan="6" class="tab-bg">Fermentation</th>
                        </tr>

                        <tr>
                            <th scope="row" class="font-weight-normal">Start Fermentation</th>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck31" name="example1">
                                        <label class="custom-control-label" for="customCheck31"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck32" name="example1">
                                        <label class="custom-control-label" for="customCheck32"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck33" name="example1">
                                        <label class="custom-control-label" for="customCheck33"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customChec34k" name="example1">
                                        <label class="custom-control-label" for="customCheck34"></label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck35" name="example1">
                                        <label class="custom-control-label" for="customCheck35"></label>
                                    </div>
                                </form>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class="col-md-12 d-flex justify-content-end mt-4 pb-4">
                    <div class="mr-2">

                        <button type="button" class="btn btn-outline-light btn-cancel">
                                    <i class="material-icons cancel-ico">
                                        cancel
                                    </i>
                                    Cancel
                            </button>

                    </div>


                    <div>
                        <button (click)="saveSuperAdmin()" type="button" class="btn btn-outline-light btn-save">
                                    <i class="material-icons save-ico">
                                        save
                                    </i>
                                    Save
                                </button>
                    </div>
                </div>

            </div>
        </div> -->
    </div>
</div>

<div class="del-modal">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Save</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/modal-close.svg"
                                    class="modal-close-ico"></span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center del-content">
                            <div>
                                <p class="del-header">You're currently going to save.</p>
                                <p class="mt-3 text-center">Are you sure you want to proceed?</p>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center mt-2">
                            <button type="button" (click)="(cancelRolePriviledge)" data-dismiss="modal" class="btn  l-btn-cancel mr-2">
                                    No
                                </button>

                            <button (click)="saveRolePriviledge()" type="button" class="btn  l-btn-agree" data-dismiss="modal">
                                    Yes
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
