@import "assets/styles/styles.scss";
.search-style {
    border-radius: $borderRadius;
    padding: 10px 10px 10px 40px;
    box-shadow: 0px 3px 5px #00000012;
}

.search-ico {
    top: 9px;
    font-size: 21px;
    left: 10px;
}

.thumbnail {
    cursor: pointer;
}

.client-table {
    background: $BgWhite;
    border-radius: $tableBorder;
    padding: $tablePadding;
}

.btn-archive {
    background: $archivebtn;
    border-radius: 21px;
    opacity: 1;
    display: flex;
    font-size: 14px;
    width: 139px;
    height: auto;
    display: flex;
    justify-content: center;
    .archive-ico {
        font-size: 21px;
    }
}

.prin-ico {
    top: 5px;
    left: 15px;
    color: #636D75;
}

.filter-ico {
    right: 0px;
    top: 5px;
    color: #636D75;
}

.header-title {
    color: $headerFont;
    font-size: $headerFontsize;
}

.edit-ico {
    img {
        width: 15px;
    }
}

.tic-ico {
    img {
        width: 17px;
    }
}

.refresh-ico {
    img {
        width: 17px;
    }
}

.download-ico {
    img {
        width: 17px;
    }
}

table {
    min-width: 1320px;
}

td {
    width: 150px;
}

td+td {
    width: auto;
}

.header-right {
    float: right;
    align-items: center;
    display: flex;
    @media (max-width: 767px) {
        display: block;
        float: left;
        width: 100%;
    }
    .header-search-wrapper {
        align-items: center;
        margin: 0 15px;
        @media (max-width: 767px) {
            margin: 10px 0;
            width: 100%;
        }
        .l-search {
            @media (max-width: 767px) {
                min-width: calc(100% - 95px);
            }
        }
        .filter-ico {
            margin: 0 10px;
        }
    }
    .archive {
        float: left;
        button {
            float: left;
            @media (max-width: 1200px) {
                padding: 5px 15px !important;
            }
        }
    }
}