<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div class="header-title">
                <h6>Client Directory</h6>
            </div>
        </div>

        <div class="col-md-9">
            <div class="header-right">
                <div class="d-flex header-search-wrapper">
                    <div class="d-flex l-search">
                        <input (keyup.enter)="searchClient()" class="l-searchbox" [(ngModel)]="searchText" placeholder="Search Client"
                            type="text" />
                        <i class="material-icons search-ico cursor-click" (click)="searchClient()">
                            search
                        </i>
                        <i class="material-icons clear-ico cursor-click" (click)="clear()">
                            close
                        </i>
                    </div>
                    <i class="material-icons filter-ico  cursor-click">
            filter_list
          </i>

          <button style="border: none;background: transparent;" class="material-icons prin-ico cursor-click" [elementToPrint]="TABLE" ngPrint>
            local_printshop
        </button>
                </div>

                <div class="archive">
                    <button (click)="goToArchive()" type="button" class="btn l-btn">
            <i class="material-icons archive-ico">
              archive
            </i>Archived
          </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row"  #TABLE #table>
        <div class="col-md-12 mt-3">
            <div class="client-table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Company
                                <span class="mfilter-ico ml-2"><img class="thumbnail" (click)="filter('company')" src="assets/images/main-filter.svg"></span>
                            </th>
                            <th scope="col">Package
                                <span class="nfilter-ico ml-2"><img class="thumbnail" (click)="filter('package')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">Contact Name
                                <span class="nfilter-ico ml-2"><img class="thumbnail" (click)="filter('name')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">User
                                <span class="nfilter-ico ml-2"><img class="thumbnail" (click)="filter('user')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">Phone
                                <span class="nfilter-ico ml-2"><img class="thumbnail" (click)="filter('phone')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">E-mail Address
                                <span class="nfilter-ico ml-2"><img class="thumbnail" (click)="filter('email')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">Expiry Date
                                <span class="nfilter-ico ml-2"><img class="thumbnail" (click)="filter('expiry')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">Status
                                <span class="nfilter-ico ml-2"><img class="thumbnail" (click)="filter('status')"src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clientList | paginate: config">
                            <td class="cursor-click font-weight-bold" (click)="goToViewDetails(client.id)">
                                {{client?.name}}</td>
                            <td>{{client?.subscriptions[0]?.name}}</td>
                            <td>{{client?.orgSuperUser?.firstName}}</td>
                            <td>{{client?.orgSuperUser?.emailAddress}}</td>
                            <td>{{client?.contactPhone | phoneFormat}}</td>
                            <td>{{client?.contactEmail}}</td>
                            <td>{{client?.endDate | date: 'MMM d, y'}}</td>
                            <td>{{client?.status}}</td>
                            <td>

                                <span class="edit-ico ml-2 cursor-click">
                  <img (click)="editClientDirectory(client.id)" src="../../../../../assets/images/edit.svg">
                </span>
                <span class="tic-ico ml-2 cursor-click">
                    <img (click)="changeStatusClick(client?.id, client?.status)" src="../../../../../assets/images/tic.svg"
                        data-target="#statusModal" data-toggle="modal" />
                </span>
                                <span class="refresh-ico ml-2 cursor-click">
                  <img (click)="resetpasswordClick(client?.orgSuperUser?.emailAddress,client?.id)" src="../../../../../assets/images/refresh.svg">
                </span>
                                <span class="download-ico ml-2 cursor-click">
                  <img (click)="getArchiveId(client.id)" src="assets/images/down.svg" data-target="#archiveModalCenter" data-toggle="modal">
                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" [ngClass]="{hide:pageControl}">
        <div class="col-md-12 d-flex justify-content-end mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination p-0 float-right">
                    <pagination-controls class="my-pagination" [maxSize]="config.totalItems" [directionLinks]="true" [autoHide]="false" [responsive]="true" [previousLabel]="previous" [nextLabel]="next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page" (pageChange)="pageChange($event)">
                    </pagination-controls>
                    <select (change)="pageSize($event.target.value)">
                        <option value="5">5/Page</option>
                        <option value="10">10/Page</option>
                        <option value="20">20/Page</option>
                        <option value="50">50/Page</option>
                    </select>
                </ul>
            </nav>
        </div>
    </div>

    <div class="del-modal">
        <div class="modal fade" id="archiveModalCenter" tabindex="-1" role="dialog" aria-labelledby="archiveModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="archiveModalLongTitle">Archive</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><img src="assets/images/modal-close.svg"
                                        class="modal-close-ico"></span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center del-content">
                                <div>
                                    <p class="del-header">You're currently going to archive.</p>
                                    <p class="mt-3 text-center">Are you sure you want to proceed?</p>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center mt-2">
                                <button type="button" data-dismiss="modal" class="btn  l-btn-cancel mr-2">
                                        No
                                    </button>
    
                                <button (click)="archivedClick()" type="button" class="btn  l-btn-agree" data-dismiss="modal">
                                        Yes
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Status Modal -->
    <div class="del-modal">
        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="statusModalLongTitle">Activate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><img src="assets/images/modal-close.svg"
                                        class="modal-close-ico"></span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center del-content">
                                <div>
                                    <p class="del-header">You're currently going to Activate Client.</p>
                                    <p class="mt-3 text-center">Are you sure you want to proceed?</p>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center mt-2">
                                <button type="button" data-dismiss="modal" class="btn  l-btn-cancel mr-2">
                                        No
                                    </button>
    
                                <button (click)="activateClientDirectory()" type="button" class="btn  l-btn-agree" data-dismiss="modal">
                                        Yes
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>