<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="header-title">
                Organization Information
            </div>
        </div>

        <div class="col-md-6">
            <div class="archive d-flex justify-content-end">
                <button type="button" class="btn btn-outline-light btn-archive" data-target="#archiveModalCenter" data-toggle="modal">
                    <i class="material-icons archive-ico">
                        archive
                    </i>
                    Archived
                </button>
                <button type="button" (click)="goToEdit()" class="btn l-btn">
                    <i class="material-icons edit-ico">
                        edit
                    </i>
                    Edit</button>
            </div>
        </div>
    </div>

    <form [formGroup]="viewClientForm" class="mt-3">

        <div class="form-row form-bg">

            <div class="col-md-12 cursor-click">
                <h6>Package: {{package}}</h6>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="company">Company</label>
                <input type="text" class="form-control input-style" formControlName="company" id="company"
                    placeholder="" readonly>
            </div>




            <div class="form-group col-md-6 col-lg-4">
                <label for="email">Email Address</label>
                <input type="text" class="form-control input-style" formControlName="email" id="email" placeholder=""
                    readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <div class="image">
                    <img src="{{imageLink}}">
                </div>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="phone">Phone</label>
                <input type="text" class="form-control input-style" formControlName="phone" id="phone" placeholder=""
                    mask="(000) 000-0000" readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="start">Start Date</label>
                <input type="text" class="form-control input-style" formControlName="startDate" id="start"
                    placeholder="" readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="end">Expiry Date</label>
                <input type="text" class="form-control input-style" formControlName="expiryDate" id="end" placeholder=""
                    readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="street">Street</label>
                <input type="text" class="form-control input-style" formControlName="street" id="street" placeholder=""
                    readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="country">Country</label>
                <input type="text" class="form-control input-style" formControlName="country" id="country"
                    placeholder="" readonly>
            </div>


            <div class="form-group col-md-6 col-lg-4">
                <label for="state">State/Province</label>
                <input type="text" class="form-control input-style" formControlName="state" id="state" placeholder=""
                    readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="city">City</label>
                <input type="text" class="form-control input-style" formControlName="city" id="city" placeholder=""
                    readonly>
            </div>


            <div class="form-group col-md-6 col-lg-4">
                <label for="postal">Postal Code</label>
                <input type="text" class="form-control input-style" formControlName="postalCode" id="postal"
                    placeholder="" readonly>
            </div>

            <div for="status" class="form-group col-md-6 col-lg-4">
                <label for="postal">Status</label>
                <select class="form-control input-style" formControlName="status" disabled>
                    <option> {{editClientDetails?.Status}} </option>
                </select>
            </div>

        </div>



        <div class="col-md-12  header-bg">
            <h6>User Details</h6>
        </div>

        <div class="form-row form-bg">

            <div class="form-group col-md-6 col-lg-4">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control input-style" formControlName="firstname" id="firstname"
                    placeholder="" readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control input-style" formControlName="lastname" id="lastnae"
                    placeholder="" readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="email">E-mail[User-ID]</label>
                <input type="text" class="form-control input-style" formControlName="userEmail" id="email"
                    placeholder="" readonly>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label for="phone">Phone</label>
                <input type="text" class="form-control input-style" formControlName="userPhone" id="phone"
                    placeholder="" mask="(000) 000-0000" readonly>
            </div>
        </div>
    </form>

    <div class="del-modal">
        <div class="modal fade" id="archiveModalCenter" tabindex="-1" role="dialog" aria-labelledby="archiveModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="archiveModalLongTitle">Archive</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><img src="assets/images/modal-close.svg"
                                        class="modal-close-ico"></span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center del-content">
                                <div>
                                    <p class="del-header">You're currently going to archive.</p>
                                    <p class="mt-3 text-center">Are you sure you want to proceed?</p>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center mt-2">
                                <button type="button" data-dismiss="modal" class="btn  l-btn-cancel mr-2">
                                        No
                                    </button>
    
                                <button (click)="archivedClick()" type="button" class="btn  l-btn-agree" data-dismiss="modal">
                                        Yes
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>