<div class="container-fluid">

    <div class="row">

        <div class="col-4">
            <div class="header-title">
                <h6>Profile</h6>
            </div>
        </div>




        <!-- <div class="col-8 d-flex justify-content-end">
            <button (click)="resetpasswordClick()" type="button" class="btn btn-outline-light btn-reset" >
                    <i class="material-icons reset-ico">
                        loop
                    </i>
                    Change Password
            </button>
        </div> -->

        <div class="col-8 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-light btn-reset" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="material-icons reset-ico">
                        loop
                    </i>
                    Change Password
            </button>
        </div>



        <div class="col-md-12 mt-3">
            <form [formGroup]="profileSuperForm">

                <div class="form-row form-bg">


                    <div class="form-group col-md-6">
                        <label for="firstName" class="input-label">First Name 
                            <i class="material-icons star-ico">
                                star
                                </i>
                            </label>
                        <input type="text" class="form-control input-style" formControlName="firstName" id="firstName" placeholder="">
                        <div *ngIf="formSubmitted && forms.firstName.errors" class="valid-error">Please enter first name</div>

                    </div>

                    <div class="form-group col-md-6">
                        <label for="lastName" class="input-label">Last Name
                                <i class="material-icons star-ico">
                                        star
                                </i>
                        </label>
                        <input type="text" class="form-control input-style" formControlName="lastName" id="lastName" placeholder="">
                        <div *ngIf="formSubmitted && forms.lastName.errors" class="valid-error">Please enter last name</div>

                    </div>


                    <div class="form-group col-md-6">
                        <label for="email" class="input-label">Email [User ID]
                            <i class="material-icons star-ico">
                            star
                            </i>
                            </label>
                        <input type="text" class="form-control input-style" formControlName="email" id="email" placeholder="" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="phone">Phone</label>
                        <i class="material-icons star-ico">
                            star
                    </i>
                        <input class="form-control" formControlName="phone" id="inputPhone" placeholder="(555) 555-5555" mask="(000) 000-0000" validation="true" (keyup)="formatPhone()">
                        <div *ngIf="formSubmitted">
                            <div *ngIf="forms.phone.errors?.required" class="valid-error">
                                Phone No is required
                            </div>
                        </div>
                        <div *ngIf="!validPhone" class="valid-error">
                            Enter Valid Phone No
                        </div>
                    </div>



                    <div for="status" class="form-group col-md-6">
                        <label for="postal" class="input-label">Role</label>
                        <select class="form-control input-style" id="status" formControlName="roles">
                            <option [selected]="selectedRole" *ngFor="let role of rolesList" [value]="role.Id">{{role.Name}}</option>
                            </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="image">Image</label><br>
                        <input [ngClass]="{hide : imageLink}" type="file" class="form-control input-style" formControlName="image" id="image" placeholder="" (change)="imageUploadChange($event)">
                        <img *ngIf="imageLink" src="{{imageLink}}"  width="100px">
                        <i [ngClass]="{hide : !imageLink}" class="material-icons img-del-ico cursor-click" (click)="deleteImage()">
                                delete
                            </i>
                        <div class="valid-error" *ngIf="imageError">
                            Image shoulde of format .png / .jpg / .jpeg
                        </div>
                        <p class="valid-success" *ngIf="percent > 0">Upload Progress: {{ percent }}%</p>
                    </div>

                    <div class="col-md-12 d-flex justify-content-end mt-4">

                        <div class="mr-2">

                            <button type="button" class="btn btn-outline-light btn-cancel" (click)="cancelClick()">
                                <i class="material-icons cancel-ico">
                                    cancel
                                </i>
                                Cancel
                            </button>

                        </div>

                        <div>
                            <button (click)="saveSuperAdmin()" type="button" class="btn btn-outline-light btn-save">
                                <i class="material-icons save-ico">
                                    save
                                </i>
                                Save
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<!--Change Password Modal-->

<div class="del-modal">

    <!-- Button trigger modal -->



    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="assets/images/modal-close.svg"
                                class="modal-close-ico"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center del-content">
                            <div>
                                <p class="del-header">Are you sure you want to proceed?</p>
                                <!-- <p class="mt-3 text-center">Are you sure you want to proceed ?</p> -->
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center mt-2">
                            <button type="button" data-dismiss="modal" class="btn  l-btn-cancel mr-2">
                                No
                            </button>

                            <button (click)="resetpasswordClick()" data-dismiss="modal" type="button" class="btn  l-btn-agree">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>