<section class="login-wrapper">
  <div class="login-main">
    <div class="login-title">
      <div class="login-logo">
        <a href="#"><img src="../../assets/images/logo-login.png" alt="" width="400px" /></a>
      </div>
      <h2><span>Hello there,</span> Welcome to BrewersInsight</h2>
      <p class="login-copyright">&copy; Copyright 2020 WarrierTech</p>
    </div>
    <div class="login-details">
      <form class="login-form" [formGroup]="forgotPasswordForm" (submit)="forgotPasswordSubmit()">
        <h3 class="mb-3">Change Password</h3>
        <p class="mt-4 mb-4">
          Enter your new password for your current account
        </p>
        <div class="form-group">
          <label for="">New Password
            <span><i class="fas fa-asterisk fa-mandatory"></i></span>
          </label>
          <input tabindex="1" type="password" (keyup)="checkPassword($event.target.value)" formControlName="newPassword"
            class="form-control position-relative login-form-radius" placeholder="Enter New Password" />
          <div *ngIf="formSubmitted">
            <div *ngIf="form.newPassword.errors?.required" class="valid-error">
              New Password is required
            </div>
          </div>
          <div *ngIf="!validPwd && !form.newPassword.errors?.required" class="tooltip-valid">
            Please enter at least one upper case letter, one lower case letter,
            one digit, one special character,Minimum eight in length
          </div>
        </div>
        <div class="form-group">
          <label for="">Confirm New Password
            <span><i class="fas fa-asterisk fa-mandatory"></i></span>
          </label>
          <input tabindex="1" type="password" (keyup)="checkConPassword()" formControlName="confirmPassword"
            class="form-control position-relative login-form-radius" placeholder="Confirm Password" />
          <div *ngIf="formSubmitted">
            <div *ngIf="form.confirmPassword.errors?.required" class="valid-error">
              Confirm Password is required
            </div>
          </div>
          <div class="valid-error" *ngIf="!validMatch">
            Passwords don't match.
          </div>
        </div>

        <div class="form-group changepswd-actions">
          <button type="submit" tabindex="4" class="btn reset-btn">
            <span class="material-icons cancel-ico"> replay </span>Reset
          </button>
          <button class="btn l-btn-cancel mr-2" type="button" (click)="onCancelClick()">
            <i class="material-icons cancel-ico"> cancel </i> Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded-0">
      <!-- Modal Header -->
      <div class="modal-header modal-border">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="menu-icon ion-close ng-star-inserted"></i>
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title text-center">FORGOT PASSWORD</h5>
        <div class="form container mt-4" *ngIf="!recoveryEmailSent && !isGeneralUser">
          <div class="form-group row">
            <label for="" class="col-sm-12 text-center">Please enter your email address to start password
              recovery.</label>
            <div class="col-sm-12 mt-2 modal-text">
              <input type="text" #emailField (keyup)="emailValid($event.target.value); isClickedOnce = false"
                placeholder="Enter email address" class="form-control" />
              <div *ngIf="emailError !== ''" class="valid-error">
                {{ emailError }}
              </div>
            </div>
          </div>
        </div>
        <div class="form container mt-4" *ngIf="recoveryEmailSent && !isGeneralUser">
          <div class="form-group row">
            <label for="" class="col-sm-12 text-center">Password reset link is send to email {{ emailAddress }}.</label>
          </div>
        </div>
        <div class="form container mt-4" *ngIf="!recoveryEmailSent && isGeneralUser">
          <div class="form-group row">
            <label for="" class="col-sm-12 text-center">Please contact your supervisor to reset your password.</label>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer p-0 d-flex">
        <button type="button" *ngIf="!recoveryEmailSent && !isGeneralUser" data [class.disabled]="isClickedOnce"
          [disabled]="!isEmailValid" (click)="emailSubmit(this); isClickedOnce = true" class="btn btn-modal-submit">
          SUBMIT
        </button>
        <button type="button" *ngIf="recoveryEmailSent || isGeneralUser" class="btn btn-modal-submit"
          data-dismiss="modal">
          CLOSE
        </button>
      </div>
    </div>
  </div>
</div>