<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-6">
            <div class="header-title">
                <h6>Reports</h6>
            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div class="d-flex justify-content-end pr-4">
                <div class="d-flex l-search">
                    <i class="material-icons search-ico"> search </i>
                    <input (keyup)="searchClient($event)" class='l-searchbox' placeholder="Search" type="text">

                </div>
                <i class="material-icons filter-ico position-relative cursor-click">
                    filter_list
                </i>

                <button style="border: none;background: transparent;" class="material-icons prin-ico cursor-click" [elementToPrint]="printThis" ngPrint>
                    local_printshop
                </button>
            </div>
        </div>

        <div class="col-md-12" #printThis>
            <div class="table-responsive report-table mt-3">
                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">Report Name
                                <span class="mfilter-ico ml-2"><img src="assets/images/main-filter.svg"></span>
                            </th>
                            <th  scope="col">Last Run Date
                                <span class="nfilter-ico ml-2"><img src="assets/images/filter.svg"></span>
                            </th >
                            <!-- <th scope="col">Actions</th> -->
                        </tr>
                    </thead>

                    <tbody >
                        <!-- <tr (click)="goToReportDetails()" *ngFor="let report of reportList | paginate:config">
                            <td>{{report.reportName}}</td>
                            <td>{{report.runDate}}</td>
                            <td>
                                <span class="pdf-ico mr-3 cursor-click">
                                    <img (click)= "reportPdfGernerate()" src="assets/images/pdf.svg">
                                </span>

                                <span class="print-ico cursor-click">
                                    <img (click)= "reportPrintGenerate()" src="assets/images/print.svg">
                                </span>
                            </td>
                        </tr> -->
                        <tr *ngFor="let lastDate of lastRundate ; let i = index" [attr.data-index]="i">
                            
                            <td class="cursor-click" (click)="reportRedirect(lastDate.ReportName)">{{lastDate.ReportName}}</td>
                            <td>{{lastDate.LastRunDate | date:'medium'}}</td>
                            
              
                          </tr>

                        <!-- <tr>
                            <td class="cursor-click" (click)="goToActiveClientReports()">Active Clients</td>
                            
                    
                        <tr>
                            <td class="cursor-click" (click)="goToLoginUserReports()">Login/Logout Users</td>
                            <td *ngFor="let lastdate of lastRundate">{{lastdate.LastRunDate | date:'medium'}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="cursor-click" (click)="goToSubscriptionReports()">Subscriptions</td>
                            <td *ngFor="let lastdate of lastRundate">{{lastdate.LastRunDate | date:'medium'}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="cursor-click" (click)="goToAuditTrailReports()">Audit Trail</td>
                            <td *ngFor="let lastdate of lastRundate">{{lastdate.LastRunDate | date:'medium'}}</td>
                            <td></td>
                        </tr> -->

                    </tbody>

                </table>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12 d-flex justify-content-end mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination p-0 float-right">
            <pagination-controls class="my-pagination" [maxSize]="maxSize" [directionLinks]="true" [autoHide]="false"
                [responsive]="true" [previousLabel]="previous" [nextLabel]="next"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page" (pageChange)="onPageChange($event)">
            </pagination-controls>
            <select [(ngModel)]="config.itemsPerPage">
                <option value="5">5/Page</option>
                <option value="10">10/Page</option>
                <option value="20">20/Page</option>
                <option value="50">50/Page</option>
            </select>
        </ul>
    </nav>
</div>