<section class='login-wrapper'>
    <div class="login-main">
        <div class='login-title'>
            <div class='login-logo'>
                <a href='#'><img src="../../assets/images/logo-login.png" alt="" width="400px"></a>
            </div>
            <h2><span>Hello there,</span> Welcome to BrewersInsight</h2>
            <p class='login-copyright'>&copy; Copyright 2020 WarrierTech</p>
        </div>
        <div class='login-details'>
            <form class="login-form" [formGroup]="loginForm" (submit)="onLoginFormSubmit()">
                <h3 class="mb-3">Login</h3>

                <div class="form-group">
                    <label for="">Email
                        <span><i class="fas fa-asterisk fa-mandatory"></i></span>
                    </label>
                    <input tabindex="1" type="text" formControlName="email"
                        class="form-control position-relative login-form-radius" placeholder="Enter Email">
                    <div *ngIf="formSubmitted && form.email.errors?.required" class="valid-error">Email is required.
                    </div>
                    <div *ngIf="formSubmitted && form.email.errors?.email" class="valid-error">Email is invalid.</div>

                </div>
                <div class="form-group">
                    <label for="">Password
                        <span><i class="fas fa-asterisk fa-mandatory"></i></span>
                    </label>
                    <show-hide-password size="sm" [btnOutline]="false">
                        <input tabindex="1" type="password" formControlName="password"
                            class="form-control position-relative login-form-radius" placeholder="Enter Password">
                    </show-hide-password>
                    <div *ngIf="formSubmitted && form.password.errors?.required" class="valid-error">Password is
                        required.</div>
                </div>
                <div class="form-group form-check-box">
                    <label class="checkbox mb-0">
                        <input type="checkbox" tabindex="3" value="false" formControlName="rememberMe" />
                        <span class="default" tabindex="3"></span>
                    </label>
                    <label class="form-check-label ml-2 position-absolute" for="exampleCheck1">Remember me</label>
                    <div class="forget-action">
                        <a data-toggle="modal" (click)="openPwdResetModal()" tabindex="5"
                            class="pass cursor-click">Forgot?</a>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" tabindex="4" class="btn mt-5 btn-default login-btn btn-radius">Log In</button>
                </div>
                <div class="form-group">
                    <p class="mt-5 mb-3 text-muted text-center signup-action">Don't have an account? <a
                            href='/signup'>Sign up</a></p>
                </div>

            </form>
        </div>
    </div>

</section>













<!-- <div class="login-bg">
    <div class="container wrapper-center">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 login-width">
                <form class="mt-5 login-form" [formGroup]="loginForm" (submit)="onLoginFormSubmit()">
                    <div class="form-group">
                        <label for="">Username
                            <span><i class="fas fa-asterisk fa-mandatory"></i></span>
                        </label>
                        <input tabindex="1" type="text" (keyup)="changeUsername()" #userNameElement formControlName="userName" class="form-control position-relative login-form-radius" placeholder="Enter Username">
                        <div *ngIf="formSubmitted && form.userName.errors" class="valid-error">Please enter valid username</div>
                    </div>
                    <div class="form-group">
                        <label for="">Password
                            <span><i class="fas fa-asterisk fa-mandatory"></i></span>
                        </label>
                        <input tabindex="2" type="password" formControlName="password" class="form-control position-relative login-form-radius" placeholder="Password">
                        <div *ngIf="formSubmitted && form.password.errors" class="valid-error">Please enter valid password</div>
                        <div class="form-group" class="valid-error">{{loginError}}</div>
                    </div>
                    <div class="form-group form-check-box">
                        <label class="checkbox mb-0">
                            <input type="checkbox" tabindex="3" value="false" formControlName="rememberMe" />
                            <span class="default" tabindex="3"></span>
                        </label>
                        <label class="form-check-label ml-2 position-absolute" for="exampleCheck1">Remember me</label>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-4">
                            <button type="submit" tabindex="4" class="btn btn-default btn-block btn-radius">Log In</button>
                        </div>
                        <div class="col-4 p-0 mt-1">
                            <a data-toggle="modal" href="#myModal" (click)="openPwdResetModal()" tabindex="5" class="pass">Forgot  Password ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 rounded-0">
            <!-- Modal Header -->
            <div class="modal-header modal-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="menu-icon ion-close ng-star-inserted"></i>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5 class="modal-title text-center">FORGOT PASSWORD</h5>
                <div class="form container mt-4" *ngIf='!recoveryEmailSent && !isGeneralUser'>
                    <div class="form-group row">
                        <label for="" class="col-sm-12 text-center">Please enter your email address to start password
                            recovery.</label>
                        <div class="col-sm-12 mt-2 modal-text">
                            <input type="text" #emailField
                                (keyup)="emailValid($event.target.value); isClickedOnce = false"
                                placeholder="Enter email address" class="form-control">
                            <div *ngIf="emailError !== ''" class="valid-error">{{emailError}}</div>
                        </div>
                    </div>
                </div>
                <div class="form container mt-4" *ngIf='recoveryEmailSent && !isGeneralUser'>
                    <div class="form-group row">
                        <label for="" class="col-sm-12 text-center">Password reset link is send to email
                            {{emailAddress}}.</label>
                    </div>
                </div>
                <div class="form container mt-4" *ngIf='!recoveryEmailSent && isGeneralUser'>
                    <div class="form-group row">
                        <label for="" class="col-sm-12 text-center">Please contact your supervisor to reset your
                            password.</label>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer p-0 d-flex">
                <button type="button" *ngIf='!recoveryEmailSent && !isGeneralUser' data [class.disabled]="isClickedOnce"
                    [disabled]="!isEmailValid" (click)="emailSubmit(this); isClickedOnce = true"
                    class="btn btn-modal-submit">SUBMIT</button>
                <button type="button" *ngIf='recoveryEmailSent || isGeneralUser' class="btn btn-modal-submit"
                    data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>