<!-- <div class='login-details'>
    <h3 class="mb-3">Change Password</h3>
    <p class='mt-4 mb-4'>Enter your old password you are using for your account and create a new password.</p>
    <form class="login-form" [formGroup]="resetPasswordForm" (submit)="forgotPasswordSubmit()">
        <div class="form-group">
            <label for="">Old Password</label>
            <input tabindex="1" type="email" (keyup)="getEmailAddress()" #enterEmailAddress formControlName="email" class="form-control position-relative login-form-radius" placeholder="Old Password">
        </div>
        <div class="form-group">
            <label for="">New Password</label>
            <input tabindex="1" type="text" (keyup)="changeUsername()" #userNameElement formControlName="userName" class="form-control position-relative login-form-radius" placeholder="New Password">
            <div *ngIf="formSubmitted && form.userName.errors" class="valid-error">Please enter valid username</div>
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input tabindex="1" type="email" (keyup)="getEmailAddress()" #enterEmailAddress formControlName="email" class="form-control position-relative login-form-radius" placeholder="Confirm Password">   
        </div>

        <div class="form-group">
            <button type="submit" tabindex="4" class="btn mt-5 l-btn" (click)="resetPasswordClick()">Save Password</button>
        </div>
    
    </form>
</div> -->


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 justify-content-center d-flex">
            <div class="header-title ">
                <h6>Reset your password</h6>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class='changepswd-details'>
            <form class="changepswd-form" [formGroup]="resetPasswordForm" (submit)="forgotPasswordSubmit()">
                <p class='mt-2 mb-4 text-center'>Please choose a new password to reset your password</p>
                <div class="form-row mt-3">
                    <!-- <div class="form-group col-md-12">
                      <label for="">Old Password</label>
                      <input tabindex="1" type="password" (keyup)="checkPassword($event.target.value)" 
                          formControlName="oldPassword" class="form-control position-relative login-form-radius"
                          placeholder="">
                          <div *ngIf="formSubmitted">
                                  <div *ngIf="form.oldPassword.errors?.required" class="valid-error">
                                      Old Password is required
                                  </div>
                              </div>
                          <div *ngIf="!validPwd" class="valid-error">Please enter valid Password</div>
                  </div> -->
                    <div class="form-group col-md-12">
                        <label for="">New Password</label>
                        <input tabindex="1" type="password" (keyup)="checkPassword($event.target.value)" formControlName="newPassword" class="form-control position-relative login-form-radius" placeholder="">
                        <div *ngIf="formSubmitted">
                            <div *ngIf="form.newPassword.errors?.required" class="valid-error">
                                New Password is required
                            </div>
                        </div>
                        <div *ngIf="!validPwd" class="valid-error">Please enter valid Password</div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Confirm New Password</label>
                        <input tabindex="1" type="password" (keyup)="checkPassword($event.target.value)" formControlName="confirmPassword" class="form-control position-relative login-form-radius" placeholder="">
                        <div *ngIf="formSubmitted">
                            <div *ngIf="form.confirmPassword.errors?.required" class="valid-error">
                                Confirm Password is required
                            </div>
                        </div>
                        <div *ngIf="!validPwd" class="valid-error">Please enter valid Password</div>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group changepswd-actions">
                        <div class="row">
                            <button class="btn l-btn-cancel mr-2" type="button"><i class="material-icons cancel-ico" (click)="onCancelClick()"> cancel
                                    </i> Cancel</button>
                            <button type="submit" tabindex="4" class="btn l-btn">Save
                                    Password</button>
                        </div>

                        <!--data-toggle="modal" data-target="#exampleModalCenter"  -->
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>

<!--Success Modal-->

<div class="del-modal">

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><img src="assets/images/modal-close.svg"
                              class="modal-close-ico"></span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-md-12 d-flex justify-content-center del-content">
                            <!-- <i class="material-icons">
                                  check_circle_outline
                          </i> -->
                            <div>
                                <p class="del-header text-center">Password Updated!</p>
                                <p class="mt-3 text-center">Your password has been changed successfully</p>
                                <p class="mt-3 text-center">Use your new password to login</p>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center mt-2">

                            <button data-dismiss="modal" type="button" class="btn  l-btn-agree">
                             Ok
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>