<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div class="header-title">
                <h6>User Directory</h6>
            </div>
        </div>


        <div class="col-md-9" >
            <div class="header-right">
                <div class="d-flex header-search-wrapper">
                    <div class="d-flex l-search">
                        <i class="material-icons search-ico"> search </i>
                        <input (keyup.enter)="searchUser($event)" class='l-searchbox' placeholder="Search" type="text">

                    </div>
                    <i class="material-icons filter-ico  cursor-click">
                        filter_list
                    </i>

                    <button style="border: none;background: transparent;" class="material-icons prin-ico cursor-click" [elementToPrint]="TABLE" ngPrint>
                        local_printshop
                    </button>
                </div>

                <div class="archive">
                    <button (click)="newUserClick()" type="button" class="btn l-btn">
                        <img class="pr-2" src="assets/images/add_circle.svg" />
                        New User
                    </button>

                </div>
            </div>
        </div>

        <!-- <div class="col-md-12 col-lg-6">
            <div class="d-flex justify-content-end">
                <div class="d-flex l-search">
                    <i class="material-icons search-ico"> search </i>
                    <input (keyup)="searchClient($event)" class='l-searchbox' placeholder="Search" type="text">

                </div>
                <i class="material-icons filter-ico position-relative cursor-click">
                        filter_list
                    </i>

                <i class="material-icons prin-ico position-relative cursor-click">
                        local_printshop
                    </i>
            </div>
        </div>

        <div class="col-md-2">
            <div class="archive d-flex justify-content-end">
                <button (click)="newUserClick()" type="button" class="btn btn-outline-light btn-archive">
                    <img class="pr-2" src="assets/images/add_circle.svg" />
                    New User
                </button>
            </div>
        </div> -->
    </div>

    <div class="row" #TABLE #table>
        <div class="col-md-12 mt-3">
            <div class="table-responsive client-table">
                <table class="table" id="exportable">
                    <thead>
                        <tr>
                            <th scope="col">Name
                                <span class="mfilter-ico ml-2"><img (click) = "filter('name')" src="assets/images/main-filter.svg"></span>
                            </th>
                            <th scope="col">Company
                                <span class="nfilter-ico ml-2"><img (click) = "filter('company')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col" style="width:180px">Role
                                <span class="nfilter-ico ml-2"><img (click) = "filter('role')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">Phone
                                <span class="nfilter-ico ml-2"><img (click) = "filter('phone')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">Email Address
                                <span class="nfilter-ico ml-2"><img (click) = "filter('email')" src="assets/images/filter.svg"></span>
                            </th>
                            <th scope="col">Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let singleUser of userDetails | paginate: config">
                            <td (click)="gotoView(singleUser)" class="font-weight-bold cursor-click">{{singleUser.FirstName}} {{singleUser.LastName}}</td>
                            <td>{{singleUser.CompanyName}}</td>
                            <td>{{ (singleUser.Roles[0]) ? singleUser.Roles[0].Name : '' }}</td>
                            <td>{{singleUser.PrimaryPhone | phoneFormat}}</td>
                            <td>{{singleUser.EmailAddress}}</td>

                            <td>
                                <span class="edit-ico ml-2 cursor-click">
                                  <img (click)="goToSingleUser(singleUser)" src="assets/images/edit.svg">
                                </span>


                                <span class="del-ico ml-2 cursor-click">
                                    <img (click)="deleteSingleUser(singleUser.Id)"
                                        src="assets/images/delete.svg" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                </span>

                                <!-- <span class="del-ico ml-2 cursor-click">
                                  <img (click)="deleteUser(singleUser.Id)" src="assets/images/delete.svg">
                                </span> -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="row" [ngClass]="{hide:pageControl}">
        <div class="col-md-12 d-flex justify-content-end mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination p-0 float-right">
                    <pagination-controls class="my-pagination" [maxSize]="config.totalItems" [directionLinks]="true" [autoHide]="false" [responsive]="true" [previousLabel]="previous" [nextLabel]="next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page" (pageChange)="pageChange($event)">
                    </pagination-controls>
                    <select (change)="pageSize($event.target.value)">
                        <option value="5">5/Page</option>
                        <option value="10">10/Page</option>
                        <option value="20">20/Page</option>
                        <option value="50">50/Page</option>
                    </select>
                </ul>
            </nav>
        </div>
    </div>

</div>

<!--Delete Modal-->

<jw-modal id="singleUser.Id">
    <div class="del-modal">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/modal-close.svg"
                                    class="modal-close-ico"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center del-content">
                                <div>
                                    <p class="del-header">You're currently going to delete.</p>
                                    <p class="mt-3 text-center">Are you sure you want to proceed?</p>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center mt-2">
                                <button type="button" data-dismiss="modal" class="btn  l-btn-cancel mr-2">
                                    No
                                </button>

                                <button (click)="deleteUser($event)" type="button" class="btn  l-btn-agree">
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</jw-modal>
