// .login-details {
//     background: #ffffff;
//     padding: 5vh 20px;
//     width: 100%;
//     margin: 0 auto;
//     min-height: calc(100vh - 170px);
//     @media screen and (max-width: 991px) {
//         padding: 30px;
//         background: #fff;
//         width: 100%;
//     }
//     h3 {
//         color: #424242;
//         font-weight: 600;
//         text-align: center
//     }
//     p{
//         text-align: center;
//         color: #424242;
//     }
//     .login-form {
//         width: 28%;
//         margin: 0 auto;
//         padding-top: 20px;
//         @media screen and (max-width:1200px){
//             width: 80%;
//         }
//         label {
//             color: #808495;
//             font-size: 14px;
//         }
//         .l-btn {
//             margin: 0 auto;
//             width: 70%;
//             justify-content: center;
//         }
//         .form-control {
//             border: solid 1px #fff;
//             border-bottom: solid 1px #E9E9F0;
//             padding-left: 0;
//             color: #4D4F5C;
//         }
//     }
// }

.changepswd-details {
    background: #ffffff;
    padding: 20px;
    margin: 10px 15px;
    border-radius: 10px;
    .changepswd-form {
        p {
            color: #6c757d !important;
            font-weight: 600;
        }
        .changepswd-actions{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
.pass-success
{
    color: #32ca72;;
}
.header-title{
    h6{
        font-size: 20px;
    font-weight: 600;
    color: #1a2138;
    }
}